.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f4c81;
  color: white;
}

.center-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  grid-template-areas:
    "header header"
    "player1 player2"
    "button button";
}
.center-container h2 {
  text-align: center;
  grid-area: header;
}
.center-container button {
  text-align: center;
  grid-area: button;
}
