.questionsMainGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: Auto 1fr;
  padding: 20px;
}

.questionsGrid {
  display: grid;
  row-gap: 20px;
  padding: 10px;
}

.newQuestionGrid {
  display: grid;
  padding: 10px;
}

.startComparisson {
  grid-column: 1 / -1;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
