.questionsMainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 1fr;
}

.questionsGrid {
  display: grid;
  background-color: brown;
}

.newQuestionGrid {
  display: grid;
  background-color: black;
}

.startComparisson {
  grid-column: 1 / -1;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: burlywood;
}
